<h1>To DO List</h1>
<%= link_to "New Task", new_task_path %>
<ol>
<% @tasks.each do |task| %>
  <li><b><%= task.title %></b> - Category: <%= task_categories(task) %>
  <p><%= task.description %> | <%= link_to "Task Details", task_path(task.id) %></p></li><br>
<% end %>
</ol>