<h1><%= @task.title %></h1>
<p>Categories: <%= task_categories(@task) %></p>
<p><%= @task.description %></p>
<%= link_to "View All Tasks", user_tasks_path(current_user) %> 
<%= link_to "Edit Task", edit_user_task_path(current_user, @task) %>
<%= link_to "Delete Task", user_task_path, method: "delete" %>